*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: black;
}

h1{
    margin: 10px;
    color: ;
}

form{
    background-color: rgb(4, 150, 247);
    width: 400px;
    height: 250px;
    margin: 80px 300px;
    padding: 50px;
    border-radius: 10px;
}

input{
    width: 150px;
    height: 20px;
    border: 100px;
    border: .8px solid rgb(219, 216, 215);
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;

}
button{
    width: 80px;
    height: 50px;
    margin: 29px 0;
    border-radius: 30px;
    border: none;
    margin-left: 28px;
    background-color: rgba(13, 108, 249, 0.881);
    font-weight: bold;
    color: white;
    font-size: .9rem;
    cursor: pointer;
}
button:hover{
    background-color: rgba(4, 48, 114, 0.881);
    color: aqua;
    transition: 3s;
}

.icon{
    font-size: 30px;
    color: white;
    margin-bottom: -10px;
}
p{
    color: aliceblue;
}
